<div id="wrapper">
<!-- Navigation -->
<app-nav-bar></app-nav-bar>
    
<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Dashboard <small>Overview</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Dashboard
                    </li>
                </ol>
            </div>
        </div>
            

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-heart-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Heart Disease <br>Prediction</div>
                            </div>
                        </div>
                    </div>
                        <div class="panel-footer">
                            <span class="pull-left">Predict it before<br>it's too late</span>
                            <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                        <div class="col-xs-3">
                                <i class="fa fa-history fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Patient History</div>
                            </div>
                        </div>
                    </div>
                        <div class="panel-footer">
                            <span class="pull-left">Your details are <br>safe with us</span>
                            <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-heartbeat fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"></div>
                                <div>Real Time ECG</div>
                            </div>  
                            
                        </div>
                    </div>
                    
                        <div class="panel-footer">
                            <span class="pull-left">Set the device<br>Get the report</span>
                            <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                    
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            
                            <div class="col-xs-3">
                                <i class="fa fa-laptop fa-2x"></i>
                                &nbsp;&nbsp;<i class="fa fa-mobile fa-2x"></i><br>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div>Multi Platformed</div>
                            </div>  
                        </div>
                    </div>
                    
                        <div class="panel-footer">
                            <span class="pull-left">We support both Android <br>and Windows</span>
                            <span class="pull-right"></span>
                            <div class="clearfix"></div>
                        </div>
                </div>
            </div>
        </div>
           
           
        <div class="panel panel-default">


            <div class="slider-holder">
                        <span id="slider-image-1"></span>
                        <span id="slider-image-2"></span>
                        <span id="slider-image-3"></span>
                <div class="image-holder">
                        <img src="https://www.verywellhealth.com/thmb/yJswtLgVF9H8543QbtwuJC4LZD0=/900x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/overview-of-heart-disease-4160961_final-152f46073f2242999b771e409973825b.png" width="800px" height="400px"  class="slider-image"  />
                        <img src="https://assets.bupa.co.uk/~/media/images/healthmanagement/topics/555-369/how-to-spot-heart-attack.jpg" width="800px" height="400px" class="slider-image" />
                        <img src="https://i.pinimg.com/originals/a5/2b/59/a52b597d33ad94bea5391d2b78ef7e19.png" width="800px" height="400px"  class="slider-image" />
                </div>
                <div class="button-holder">
                    <a href="#slider-image-1" class="slider-change"></a>
                    <a href="#slider-image-2" class="slider-change"></a>
                    <a href="#slider-image-3" class="slider-change"></a>
                </div>
            </div>

        </div>

        
    </div>
</div>
<!-- /.container-fluid -->
</div>

