<div id="wrapper">
    <!-- Navigation -->
    <app-nav-bar></app-nav-bar>
    <div id="page-wrapper">
       <div class="container-fluid">
          <!-- Page Heading -->
          <div class="row">
             <div class="col-lg-12">
                <h1 class="page-header">
                   About Cardiac-Eye
                </h1>
                <ol class="breadcrumb">
                   <li>
                      <i class="fa fa-dashboard"></i>  <a routerLink="">Dashboard</a>
                   </li>
                </ol>
             </div>
             <div class = "header_stats p">
                <article>
                   <h4>Welcome to Cardiac-Eye</h4>
                   <!-- <p> -->
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cardiac Eye is a heart disease prediction system which is developed by a group of Undergraduates from University of Westminster<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;affiliated with Informatics Institutef of Technology. <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;As the name refers Cardiac-Eye is heart based data science project which focuses on predicting patients who have the ability to have a <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;coronary heart disease in the future. <br><br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Key features,<br>
                        <ul style="list-style-type:disc;">
                            <li>Prediction for the heart disease by the use of user inputs</li>
                            <li>Stores all the entered medical reports to a database</li>
                            <li>Ability to view previous medical data</li>
                            <li>An IoT ECG device to track ECG</li>
                            <li>Real-time ECG tracker</li>
                        </ul>
                   <!-- </p> -->
                   <div >
                      <img src="assets/images/backg.jpg" style="float:left; width:680px;height:500px"  >
                   </div>
                </article>
             </div>
             <!-- /.container-fluid -->
          </div>
          <!-- /#page-wrapper -->
       </div>
    </div>
 </div>
 <!-- /#wrapper -->